* {
    box-sizing: border-box;
    margin: 0 auto;
}

.app__wrapper {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    justify-content: space-between;
}

.ancients {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin: 0;
    padding: 20px;
}

.ancient__card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    cursor: pointer;
    height: 500px;
    width: 365px;
}

.difficulties {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
}

.difficulty__level__button{
    width: 100px;
    height: 40px;
    border: 2px solid green;
    border-radius: 15px;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    text-align:center;
    padding: 10px;
}
